<!-- <footer class="site-footer h-card">
    <data class="u-url" href="{{ '/' | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <p class="feed-subscribe">
            <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
              <svg class="svg-icon orange">
                <path d="M12.8 16C12.8 8.978 7.022 3.2 0 3.2V0c8.777 0 16 7.223 16 16h-3.2zM2.194
                  11.61c1.21 0 2.195.985 2.195 2.196 0 1.21-.99 2.194-2.2 2.194C.98 16 0 15.017 0
                  13.806c0-1.21.983-2.195 2.194-2.195zM10.606
                  16h-3.11c0-4.113-3.383-7.497-7.496-7.497v-3.11c5.818 0 10.606 4.79 10.606 10.607z"
                />
              </svg><span>Subscribe</span>
            </a>
          </p>
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}
        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
        {%- include social.html -%}
      </div>
  
    </div>
  
  </footer> -->

<footer id="contact">
  <section class="footer-inner">
    <div class="contact">
      <div class="contact-inner">
        <p>CONTACT</p>
        <p>
          <span class="logo"></span><span>anilkumaranusree113@gmail.com</span>
        </p>
        <p><span class="logo"></span><span>+91-9699973230</span></p>
        <p><span class="logo"></span><span>Surat, Gujarat, India</span></p>
      </div>

      <div class="socials">
        <a href="https://www.linkedin.com/in/anusreeanilkumar1/"
          ><span></span
        ></a>
        <a href="https://github.com/Anusree6154s"><span></span></a>
        <a href="https://x.com/anu6154s"><span></span></a>
      </div>
    </div>
    <div class="list">
      <div class="sections">
        <p>SECTIONS</p>
        <a href="/documentation/#latest-posts">Latest Posts</a>
        <a href="/documentation/all-posts">All Posts</a>
        <a href="/documentation/#projects">Projects</a>
        <a href="/documentation/#profile">Profile</a>
      </div>
      <div class="links">
        <p>LINKS</p>
        <a href="https://anusreeanilkumar.vercel.app/">Personal Portfolio</a>
        <a href="https://www.crio.do/learn/portfolio/anilkumaranusree113/"
          >Crio.Do Portfolio</a
        >
        <a href="https://anusreeanilkumar.vercel.app/projects">All Projects</a>
        <a
          href="https://drive.google.com/file/d/1Y8_r1SKBmwClHUr-pszQpEmI3XLBEbTO/view?usp=sharing"
          >Resume</a
        >
      </div>
    </div>
  </section>

  <section class="sub-footer">@ 2025 Anusree Anilkumar</section>
</footer>
