<div class="card">
  <img
    src="https://github.com/user-attachments/assets/7558c916-e7df-4c9d-aa39-92d3e48f8f2d"
    alt="ebazar-img"
  />
  <p class="sub-title">Ecommerce Application - Fullstack</p>
  <p class="tech-stack">
    MERN • MUI • Redux Toolkit • Stripe • Passport.js • Jest
  </p>
</div>
<div class="card">
  <img
    src="https://github.com/user-attachments/assets/b2f2957b-28b4-493e-b960-ed13aa7bee9b"
    alt="ebazar-img"
  />
  <p class="sub-title">Video Sharing Application - Backend</p>
  <p class="tech-stack">Node.js • Express.js • MongoDB • Mongoose ODM</p>
</div>
<div class="card">
  <img
    alt="xflix-frontend-img"
    src="https://github.com/user-attachments/assets/07637b53-e1b4-4a6e-86f4-a837ffa589bf"
  />
  <p class="sub-title">Video Sharing Application - Frontend</p>
  <p class="tech-stack">React.js • Material UI • Tailwind CSS • Axios</p>
</div>
