  <div class="card">
    <img
      alt="qkart-backend-2-demo-gif"
      src="https://github.com/user-attachments/assets/68b07401-b2e6-4ebe-b2bc-ad1ce996c957"
    />
    <p class="sub-title">Ecommerce Application - Backend</p>
    <p class="tech-stack">
      <span>Node.js</span>
      <span>•</span>
      <span>Express.js</span>
      <span>•</span>
      <span>MongoDB</span>
      <span>•</span>
      <span>Passport.js</span>
      <span>•</span>
      <span>Jest</span>
    </p>
  </div>
  <div class="card">
    <img
      alt="qkart-backend-img"
      src="https://github.com/user-attachments/assets/ebe87c30-8a19-496f-af77-29b552b0bdb6"
    />
    <p class="sub-title">Ecommerce Application - Frontend</p>
    <p class="tech-stack">
      <span>React.js</span>
      <span>•</span>
      <span>Redux.js</span>
      <span>•</span>
      <span>Tailwind CSS</span>
      <span>•</span>
      <span>Axios</span>
    </p>
  </div>
  <div class="card">
    <img
      src="https://github.com/user-attachments/assets/01e12f26-2bd5-4ed2-80a5-bcefa74f9f80"
      alt="qtify-img"
    />
    <p class="sub-title">Song Browsing Application - Frontend</p>
    <p class="tech-stack">
      <span>React.js</span>
      <span>•</span>
      <span>Material UI</span>
      <span>•</span>
      <span>Tailwind CSS</span>
      <span>•</span>
      <span>Axios</span>
    </p>
  </div>
