---
---

@import "minima";

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// body
html,
body {
  font-family: "Montserrat", sans-serif;
  // color: white;
  // background-color: rgb(48, 48, 48);
}

// header
.site-header {
  // background-color: rgb(48, 48, 48) !important;
  background-color: white !important;
  border-bottom: 1px solid gray !important;
  border-top: 0px !important;
}

// .site-nav {
//   background-color: rgb(48, 48, 48);
// }

// .menu-icon > svg {
//   fill: white !important;
// }

// .page-link {
// color: white !important;
// }

.site-title {
  // color: #ffc15e !important;
  color: #ff9d00 !important;
  font-weight: bold !important;
  font-stretch: expanded;
  font-size: xx-large;
}

// footer
.footer-heading {
  font-weight: bold;
}

.site-footer {
  background: #ffcb77 !important;
  background-size: cover !important;
  border: 0px !important;
  color: #000000 !important;
}

.site-footer a {
  color: black !important;
  text-decoration: underline !important;
}

.svg-icon {
  fill: #000000 !important;
}

.footer-col-wrapper {
  color: #000000 !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.footer-col-wrapper > * {
  width: 100%;
}

.u-email {
  word-wrap: break-word;
}

// post
.post-list > li,
.post {
  // color: white !important;
  border-radius: 10px !important;
  padding: 20px !important;
  margin: 20px !important;
}

// .post-link {
  // color: #ffc15e !important;
  // color: #ff9d00 !important;
  // font-size: xx-large;
// }

post-meta {
  color: #bebebe;
}

// .post > a,
// .rss-subscribe > a {
//   color: #24a4ff !important;
// }

// .post > a:hover,
// .rss-subscribe > a:hover {
//   color: #4fb6ff !important;
// }

code {
  // background: rgb(36, 36, 36) !important;
  border: 0px !important;
}

.highlight,
pre,
.highlight > * > code {
  // background: rgb(0, 0, 0) !important;
  border: 0px !important;
}

// .post-content a {
//   color: rgb(255, 255, 255) !important;
// }



// media queries
@media (min-width: 800px) {
  body {
    background: url("./imgs/body-bg.svg");
    background-size: 10%;
    background-repeat: repeat-y;
    background-position-x: right;
  }
}

@media (max-width: 800px) {
  .site-footer {
    // background-color: #fdbd56 !important;
    background: url("./imgs/body-bg.svg"), linear-gradient(#ffcb77, #ffcb77) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    padding: 10%;
  }
}
