---
---

@import "minima";

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fredericka+the+Great&family=Megrim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/monokai.min.css");
@import url("./css/syntax.css");

* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

// body
html,
body {
  font-family: "Figtree", sans-serif;
  background-color: rgb(16, 16, 16);
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
  scroll-behavior: smooth;
  color: white;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main {
  width: 100%;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px; /* Rounded thumb */
  border: 2px solid transparent; /* Space around the thumb */
}

// header
.site-header {
  position: fixed !important;
  top: -100px !important;
  left: 0;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  // margin: 3%;
  // border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  width: 100% !important;
  height: 70px !important;
  // border: none;
  // display: flex;
  // align-items: center;
  animation: slideDown 1s ease;
  transform: translateY(100px);
  transition: background-color 0.5s ease;

  .wrapper {
    max-width: 100% !important;
    width: 100%;
    height: 100%;
    margin: 0% 5%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper::after {
    content: none !important;
  }

  &:hover {
    background-color: black !important;
  }

  .loader {
    height: 2px;
    background: orange;
    animation-name: fill-progress;
    animation-timeline: scroll();
  }

  .site-title {
    color: #ffffff !important;
    font-stretch: expanded;
    font-size: xx-large;
    font-family: "Figtree";

    @media (min-width: 600px) {
      font-size: x-large;
    }

    @media (min-width: 900px) {
      font-size: 300%;
    }

    @media (min-width: 1300px) {
      font-size: 400%;
    }

    span:nth-child(1) {
      font-weight: bold !important;
    }
    span:nth-child(2) {
      font-weight: bold !important;
      color: #ffa618;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .site-nav {
    flex: 1;
    height: 100%;
    background-color: transparent;
    border: none;

    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);

    @media (min-width: 600px) {
      background-color: unset;
      border: unset;
      position: unset;
      transform: unset;
    }

    label[for="nav-trigger"] {
      background: #ffffff12;
      border: 1px solid #ffffff45;
      border-radius: 5px;

      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);

      @media (min-width: 600px) {
        background: unset;
        border: unset;
        border-radius: unset;
        position: unset;
        transform: unset;
      }

      .menu-icon {
        svg {
          fill: #ffffff94;
          @media (min-width: 600px) {
            fill: unset;
          }
        }
      }
    }

    .trigger {
      background: #000000;
      height: max-content;
      padding: 20%;
      margin-top: 40%;
      width: 100vw;
      position: absolute;
      top: 100%;
      right: 0%;
      transform: translateX(10%);

      @media (min-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 3%;

        background: unset;
        padding: 0%;
        margin-top: 0%;
        width: auto;
        position: unset;
        justify-content: flex-start;
      }

      @media (min-width: 1300px) {
        font-size: 150%;
      }
    }

    .page-link {
      color: rgba(255, 255, 255, 0.7) !important;
      transition: color 0.2s ease;
      font-weight: 500;
      margin: 0px !important;
      width: max-content;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;

      margin-bottom: 2% !important;

      @media (min-width: 600px) {
        margin-bottom: 0% !important;
        font-size: 80%;
      }

      @media (min-width: 900px) {
        font-size: 100%;
      }

      &:hover {
        text-decoration: none;
        color: white !important;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0px;
        height: 2px;
        background-color: #ffa618;
        transition: width 0.2s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  @media (min-width: 1300px) {
    height: 100px !important;
  }
}

// home
.home {
  .page-landing {
    background: linear-gradient(
        to bottom,
        // rgba(0, 0, 0, 0.1) 90%,
        transparent 90%,
        rgb(16, 16, 16) 100%
      ),
      url("./imgs/bg-pattern-2.svg") repeat, url("./imgs/header-bg.png");
    display: flex;
    justify-content: center;
    // padding-left: 80px;
    align-items: left;
    flex-direction: column;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    font-family: "Figtree";
    animation: growBackground 3s ease;
    transform: scale(1.05);
    height: max-content;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      border-radius: 10px;
      height: 100%;
      width: 100%;
      padding: 35% 0% 0% 10%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.2) 90%
      );

      @media (min-width: 600px) {
        padding: 80px 0px 0px 80px;
        width: 60%;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.9),
          transparent 90%
        );
      }

      @media (min-width: 768px) {
        padding: 20% 0% 0% 10%;
      }

      @media (min-width: 900px) {
        padding: 15% 0% 0% 10%;
        width: 80%;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.4) 70%,
          transparent 90%
        );
      }

      // @media (min-width: 1024px) {
      //   width: 40%;
      // }

      p {
        margin: 0px;
        opacity: 0;
        transform: translateX(-50px);
        animation: slideIn 1s ease forwards;
        font-family: "Figtree";

        &:nth-child(1) {
          font-size: xx-large;
          font-weight: bold;
          margin-bottom: 5px;
          animation-delay: 1s;

          @media (min-width: 320px) {
            width: 90%;
          }

          @media (min-width: 375px) {
            width: 80%;
          }

          @media (min-width: 768px) {
            width: 60%;
          }

          @media (min-width: 900px) {
            font-size: 200%;
            width: 100%;
            line-height: 130%;
          }

          @media (min-width: 1300px) {
            font-size: 400%;
          }
        }

        &:nth-child(1) span {
          color: #ffa618;
        }

        &:nth-child(2) {
          font-size: larger;
          font-weight: bold;
          animation-delay: 1.2s;
          width: 70%;

          @media (min-width: 600px) {
            width: unset;
          }

          @media (min-width: 900px) {
            font-size: 120%;
          }

          @media (min-width: 1300px) {
            font-size: 200%;
          }
        }

        &:nth-child(3) {
          animation-delay: 1.2s;
          width: 75%;
          @media (min-width: 600px) {
            width: unset;
          }

          @media (min-width: 900px) {
            width: 40%;
          }

          @media (min-width: 1300px) {
            width: 70%;
            font-size: 140%;
          }
        }
      }
    }

    .socials {
      animation: fade-in 0.5s ease forwards;
      opacity: 0;
      animation-delay: 2s;
      padding: 10% 0% 0% 0%;
      width: 90%;
      display: flex;
      justify-content: center;
      gap: 5%;

      @media (min-width: 600px) {
        padding: 7%;
        // gap: 10px;
      }

      @media (min-width: 768px) {
        padding: 7% 0%;
        justify-content: flex-start;
      }

      @media (min-width: 900px) {
        padding: 2% 0%;
        justify-content: flex-start;
      }

      @media (min-width: 1024px) {
        padding: 3% 0%;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 50px;
        padding: 2%;
        height: 30px;
        width: unset;
        aspect-ratio: 1/1;
        transition: background-color 0.2s ease;

        @media (min-width: 600px) {
          padding: 2.5%;
        }

        @media (min-width: 900px) {
          height: 40px;
        }

        @media (min-width: 1024px) {
          height: 35px;
          padding: 1%;
        }

        @media (min-width: 1440px) {
          height: 60px;
        }

        span {
          display: inline-block;
          height: 100%;
          width: 100%;
          background-size: contain;
          background-repeat: no-repeat;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        &:nth-child(1) span {
          background-image: url("./imgs/linkedin.png");
        }

        &:nth-child(2) span {
          background-image: url("./imgs/github.png");
        }

        &:nth-child(3) span {
          background-image: url("./imgs/twitter.png");
        }

        &:nth-child(4) span {
          background-image: url("./imgs/mail.png");
        }

        &:nth-child(5) span {
          background-image: url("./imgs/whatsapp.png");
        }
      }
    }
  }

  $ani-speed: 0.7s;
  $ani-delay: 0.3s;
  $ani-delay2: 0.15s;

  .posts-container {
    padding: 10%;
    background: linear-gradient(
        to bottom,
        #101010,
        transparent 10%,
        #101010 90%
      ),
      url("./imgs/bg-pattern-2.svg");
    margin-bottom: 5%;

    .post-list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width: 1300px) {
        margin-bottom: 8%;
      }

      li {
        border-radius: 10px !important;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        flex-direction: column-reverse;

        padding: 5%;
        border: 1px solid #ffffff4b;
        animation: slide-in 1s ease forwards, spin 10s linear paused,
          fade-in 1s linear forwards;
        animation-delay: 0.7s;
        cursor: pointer;
        background: linear-gradient(
          to bottom,
          #1e1e1e 0%,
          rgb(20, 20, 20) 100%
        );

        @media (min-width: 600px) {
          flex-direction: unset;
        }

        &:hover {
          animation-play-state: running;
          border: 1px solid transparent;
          background: linear-gradient(
                to bottom,
                #212121 0%,
                rgb(24, 24, 24) 100%
              )
              padding-box,
            conic-gradient(
                from var(--bg-angle),
                white 0deg,
                black 90deg,
                white 180deg,
                black 270deg,
                white 360deg
              )
              border-box;
        }
      }

      li:hover {
        .arrow-first {
          animation: arrow-movement1 $ani-speed ease-in-out 2;
        }
        .arrow-second {
          animation: arrow-movement2 $ani-speed $ani-delay2 ease-in-out 2;
        }
        .arrow-third {
          animation: arrow-movement3 $ani-speed $ani-delay ease-in-out 2;
        }
      }

      .post-content {
        font-size: small;
        color: rgba(255, 255, 255, 0.829);
        margin-bottom: 0px;

        @media (min-width: 600px) {
          margin-bottom: unset;
        }

        @media (min-width: 900px) {
          font-size: 100%;
        }

        @media (min-width: 1300px) {
          font-size: 170%;
        }

        .post-link {
          font-size: x-large;
          color: white !important;
          display: inline-block;
          position: relative;
          text-decoration: none;

          @media (min-width: 900px) {
            font-size: 100%;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: #ffa618;
            transition: width 0.3s ease;
          }

          &:hover::after {
            width: 100%;
          }
        }

        .post-description {
          font-size: x-small;
          display: flex;
          flex-wrap: wrap;
          gap: 5px;

          @media (min-width: 600px) {
            display: block;
            flex-wrap: unset;
            gap: unset;
          }

          @media (min-width: 900px) {
            font-size: 100%;
          }

          .post-meta {
            color: #bebebe;
            flex-basis: 100%;
            flex-shrink: 0;

            @media (min-width: 600px) {
              flex-basis: unset;
              flex-shrink: unset;
            }

            @media (min-width: 900px) {
              font-size: 100%;
              color: #ffffff5c;
            }
          }

          .post-dot {
            display: none;

            @media (min-width: 600px) {
              display: inline-block;
              background-image: url("./imgs/dot.png");
              background-size: contain;
              background-repeat: no-repeat;
              width: 10px;
              height: 10px;
            }

            @media (min-width: 1300px) {
              height: 18px;
              width: unset;
              aspect-ratio: 1 / 1;
              margin-right: 8px;
            }
          }

          .post-tag {
            background-color: transparent;
            border-radius: 20px;
            border: 1px solid #ffffff88;
            padding: 3px 8px;
            text-align: center;
            color: #ffffff88;

            @media (min-width: 600px) {
              margin-right: 5px;
              margin-bottom: 5px;
              display: inline-block;
            }

            @media (min-width: 900px) {
              font-size: 80%;
            }

            @media (min-width: 1300px) {
              font-size: 70%;
            }
          }
        }
      }

      .post-read-more {
        display: flex;
        justify-content: flex-end;
        font-size: small;
        white-space: nowrap;
        color: #ffb031;
        font-weight: 400;

        .arrow-container {
          height: 10px;
          width: 50px;
          position: relative;

          .arrow {
            position: absolute;
            top: 50%;
            transform: rotate(-90deg);
          }

          .arrow:before,
          .arrow:after {
            background: #ffffff70;
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;

            @media (min-width: 900px) {
              background: #ffffff9c;
              height: 2px;
              width: 8px;
            }
          }

          .arrow:before {
            transform: rotate(45deg) translateX(-23%);
            transform-origin: top left;
          }

          .arrow:after {
            transform: rotate(-45deg) translateX(23%);
            transform-origin: top right;
          }

          .arrow-first {
            left: 35%;
          }
          .arrow-second {
            left: 50%;
          }
          .arrow-third {
            left: 65%;
          }

          // Animation
        }
      }
    }

    .post-view-more {
      display: flex;
      justify-content: center;

      animation-timeline: view(block 70% 2%);

      animation-name: fade-in;
      animation-fill-mode: both;
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-timing-function: linear;

      a {
        color: white !important;
        border-radius: 50px;
        background-color: #ffffff0b;
        border-style: none;
        border: 1px solid rgba(255, 255, 255, 0.27);
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.5s ease;
        text-decoration: none;
        display: flex;
        gap: 10px;
        align-items: center;
        backdrop-filter: blur(5px);
        padding: 5% 8%;

        @media (min-width: 600px) {
          padding: 2% 5%;
          font-size: large;
        }

        @media (min-width: 1300px) {
          font-size: 150%;
        }
      }

      a:hover {
        background-color: #ffffff1f;
        .arrow {
          transform: translateX(20px);
        }
      }

      .arrow {
        height: 20px;
        width: 20px;
        background-image: url("./imgs/arrow-2.png");
        background-size: contain;
        display: inline-block;
        transition: transform 1s ease;
      }

      .arrow::before {
        content: "";
        height: 20px;
        width: 20px;
        transform: translateX(-20px);
        background-image: url("./imgs/arrow-2.png");
        background-size: contain;
        display: inline-block;
        transition: transform 1s ease;
      }

      .arrow-container {
        height: 20px;
        width: 20px;
        display: inline-block;
        overflow: hidden;
      }
    }
  }

  .projects-container {
    background: linear-gradient(
        to bottom,
        #101010,
        transparent 20%,
        #101010 90%
      ),
      url("./imgs/bg-pattern-2.svg");

    @media (min-width: 375px) {
      .title {
        width: 90%;
      }
    }

    .projects-view-more {
      margin: 5% 0%;
      display: flex;
      justify-content: center;

      animation-timeline: view(block 70% 2%);

      animation-name: fade-in;
      animation-fill-mode: both;
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-timing-function: linear;

      a {
        color: white !important;
        border-radius: 50px;
        background-color: #ffffff0b;
        border-style: none;
        border: 1px solid rgba(255, 255, 255, 0.27);
        padding: 5% 8%;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.5s ease;
        text-decoration: none;

        display: flex;
        gap: 10px;
        align-items: center;
        backdrop-filter: blur(5px);

        @media (min-width: 600px) {
          padding: 2% 5%;
        }

        @media (min-width: 1300px) {
          font-size: 150%;
        }
      }

      a:hover {
        background-color: #ffffff1f;
        .arrow {
          transform: translateX(20px);
        }
      }

      .arrow {
        height: 20px;
        width: 20px;
        background-image: url("./imgs/arrow-2.png");
        background-size: contain;
        display: inline-block;
        transition: transform 1s ease;
      }

      .arrow::before {
        content: "";
        height: 20px;
        width: 20px;
        transform: translateX(-20px);
        background-image: url("./imgs/arrow-2.png");
        background-size: contain;
        display: inline-block;
        transition: transform 1s ease;
      }

      .arrow-container {
        height: 20px;
        width: 20px;
        display: inline-block;
        overflow: hidden;
      }
    }
  }

  .bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    position: relative;
    margin-top: 5%;
    background: linear-gradient(
        to bottom,
        #101010,
        transparent 10%,
        #101010 90%
      ),
      url("./imgs/bg-pattern-2.svg");

    .background-container {
      border-radius: 300px;
      width: 200px;
      height: 200px;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      top: 75%;
    }

    .background-container1 {
      filter: blur(60px);
    }

    .background-container1 .background-inner {
      // backdrop-filter: blur(70px);
      background: conic-gradient(
        from 0deg at 50% 50%,
        hsl(0, 100%, 50%) 0deg,
        hsl(354, 100%, 50%) 54.89161972682219deg,
        #00a6ff 106.69924423399361deg,
        #4797ff 162deg,
        #04f 252.00000000000003deg,
        #ff8000 306.00000000000006deg,
        hsl(0, 100%, 50%) 360deg
      );
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      opacity: 0.8;
      width: 100%;
      height: 100%;
    }

    .background-container2 {
      filter: blur(30px);
    }

    .background-container2:nth-child(3) {
      filter: blur(30px);
      mix-blend-mode: overlay;
    }

    .background-container2 .background-inner {
      background: conic-gradient(
        from 0deg at 50% 50%,
        rgb(255, 217, 173) 0deg,
        rgb(19, 156, 229) 180deg,
        rgb(253, 134, 77) 360deg
      );
      border-radius: 50%;
      opacity: 1;
      width: 90%;
      height: 90%;

      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }

    .profile-container {
      padding: 5%;
      border: 1px solid rgba(255, 255, 255, 0.288);
      backdrop-filter: blur(5px);
      border-radius: 30px;
      display: flex;
      background-color: rgba(0, 0, 0, 0.203);
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-bottom: 8%;

      @media (min-width: 900px) {
        width: 80%;
      }

      p:first-child {
        font-weight: bold;
        font-size: small;
        border: 1px solid #ffffff66;
        padding: 2% 5%;
        border-radius: 3px;

        @media (min-width: 1300px) {
          font-size: 150%;
          margin-bottom: 8%;
        }
      }

      p:nth-child(2) {
        font-weight: bold;
        font-size: 250%;
        text-align: center;
        line-height: 45px;

        @media (min-width: 600px) {
          text-align: unset;
          line-height: unset;
        }

        @media (min-width: 1300px) {
          font-size: 450%;
        }
      }

      p:nth-child(3) {
        color: rgba(255, 255, 255, 0.8);
        text-align: center;

        @media (min-width: 900px) {
          width: 80%;
          font-size: 120%;
        }

        @media (min-width: 1300px) {
          font-size: 200%;
        }
      }

      a {
        text-decoration: none;
        padding: 3% 7%;
        background-color: rgba(255, 255, 255, 0.933);
        transition: background-color 0.5s ease, color 0.5s ease;
        border: 1px solid rgba(255, 255, 255, 0.691);
        border-radius: 10px;
        color: rgba(0, 0, 0, 0.9);
        font-size: small;
        text-align: center;
        gap: 5px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.139);
          color: rgb(255, 255, 255);
        }

        @media (min-width: 900px) {
          font-size: 100%;
          padding: 2% 5%;
          font-weight: bold;
        }

        @media (min-width: 1300px) {
          font-size: 150%;
          margin-top: 8%;
        }
      }
    }
  }
}

// post
.post {
  padding: 30% 8%;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 600px) {
    padding: 12% 10%;
  }

  @media (min-width: 1300px) {
    padding: 10% 10%;
  }

  .post-header {
    width: 100%;
    padding: 8% 0%;
    margin: 0px;

    .parent-link {
      font-size: small;
      color: gray;
      text-align: center;
      margin-bottom: 40px;
      font-family: monospace;

      a {
        color: gray;
        text-decoration: underline;
        transition: color 0.2s ease;
      }

      a:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .post-title {
      text-align: center;
      margin-bottom: 2%;
    }

    .post-meta {
      font-size: 14px;
      text-align: center;
      color: orange;
    }

    time {
      display: flex;
      gap: 10px;
      justify-content: center;
    }

    .tag-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 5%;

      .tag-badge {
        padding: 2px 5px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        font-size: small;
        border-radius: 2px;
        background: #ffffff0d;
      }
    }
  }

  .post-header:has(.post-title:empty) {
    display: none;
  }

  .post-content {
    width: 100%;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Satoshi";

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #009595;
    }

    table {
      color: rgba(255, 255, 255, 0.4) !important;

      th {
        background-color: #f0f0f00a !important;
        border: 1px solid #e8e8e832 !important;
        border-bottom-color: #c9c9c98c !important;
        color: #ffffff82;
      }

      td {
        border: 1px solid #e8e8e832;
      }
    }

    a {
      color: #1ab2ff;
      word-wrap: break-word;

      &:visited {
        color: #cd8dff;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    blockquote {
      color: #ffffffba;
      border-left: 1px solid #e8e8e8bb;
      font-size: small;
      letter-spacing: -1px;
      background: #ffffff0f;
      border-radius: 0px 5px 5px 0px;
      width: max-content;
      padding: 2%;
      font-style: normal;
      font-family: "Figtree";
    }
  }

  .disqus-comments {
    width: 80%;
    margin: 0 auto;
  }

  .related-posts {
    margin-top: 20px;
    width: 100%;

    a {
      color: #1ab2ff;
      word-wrap: break-word;

      &:visited {
        color: #cd8dff;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.all-posts {
  .heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow: hidden;
    height: 300px;

    @media (min-width: 1300px) {
      height: 450px;
    }

    p {
      animation: slide-in 1s ease forwards, fade-in 1s ease forwards;
      margin: 0px;
      z-index: 1;
      opacity: 0;
    }

    p:nth-child(1) {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      animation-delay: 1s;

      span {
        padding: 0.5% 1%;
        background-color: #ffa618;
        color: black;
        border-radius: 2px;
        font-size: small;
        font-weight: 600;
        text-transform: uppercase;

        @media (min-width: 1300px) {
          font-size: 150%;
        }
      }
    }

    p:nth-child(2) {
      font-size: xx-large;
      font-weight: bold;
      animation-delay: 1.1s;
      line-height: 40px;

      @media (min-width: 600px) {
        line-height: unset;
      }

      @media (min-width: 1300px) {
        font-size: 400%;
      }
    }

    p:nth-child(3) {
      font-size: large;
      animation-delay: 1.2s;

      @media (min-width: 1300px) {
        font-size: 200%;
      }
    }

    .background-container {
      position: absolute;
      top: unset;
      left: 50%;
      bottom: 0;
      height: 250px;
      width: 250px;
      border-radius: 0px;
      right: 0%;
      transform: translate(-50%, 30%);
      opacity: 0;
      animation: fade-in 1s ease forwards;
      animation-delay: 1s;

      @media (min-width: 1300px) {
        height: 400px;
        width: 400px;
      }
    }

    .background1 {
      height: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
      border-radius: 0px;
      position: absolute;
      width: 100%;
      filter: blur(40px);

      @media (min-width: 1300px) {
        filter: blur(100px);
      }
    }

    .background1 .background-inner {
      height: 100%;
      width: 100%;
      border-radius: 500px;
      top: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      background: conic-gradient(
        from 0deg at 50% 50%,
        #ff0000 0deg,
        #ff001a 54.8916197268deg,
        #00a6ff 106.699244234deg,
        #4797ff 162deg,
        #04f 252deg,
        #ff8000 306deg,
        red 360deg
      );
    }

    .background2 {
      height: 70%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 0px;
      position: absolute;
      width: 70%;
      filter: blur(22px);

      @media (min-width: 1300px) {
        filter: blur(50px);
      }
    }

    .background2:nth-child(2) {
      mix-blend-mode: overlay;
    }

    .background2 .background-inner {
      height: 100%;
      width: 100%;
      border-radius: 500px;
      top: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      background: conic-gradient(
        from 0deg at 50% 50%,
        #ffd9ad 0deg,
        #139ce5 180deg,
        #fd864d 360deg
      );
    }
  }

  .post-list {
    box-shadow: 0px -10px 30px 40px #1d1d1d;
    position: relative;
  }

  .total-posts {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    animation-timeline: view(block 70% 0%);

    animation-name: fade-in;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timing-function: linear;

    span {
      padding: 8px 10px;
      border: 1px solid #3d3d3d;
      border-radius: 5px;
      font-size: small;
      font-family: Satoshi;
      font-weight: 400;
      color: #ffffff;

      @media (min-width: 1300px) {
        font-size: 170%;
      }
    }
  }

  .list {
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 1300px) {
      font-size: 160%;
    }

    a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.5) !important;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      overflow: hidden;
      flex-direction: column-reverse;
      padding: 20px;
      gap: 10px;

      @media (min-width: 768px) {
        flex-direction: row;
        padding: 20px 0px;
      }

      &:hover {
        text-decoration: none;

        .content {
          transform: translateX(0px);
        }
      }

      &:last-child {
        border: none;
      }
    }

    .content {
      display: flex;
      align-items: center;
      gap: 10px;

      @media (min-width: 768px) {
        transform: translateX(-30px);
        transition: transform 0.5s ease;
      }

      .arrow {
        display: none;
        @media (min-width: 768px) {
          display: inline-block;
          height: 20px;
          width: 20px;
          background-image: url("./imgs/arrow-long.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    .content-inner {
      display: flex;
      flex-direction: column;
      gap: 2px;

      p {
        margin: 0px;
      }

      .title {
        color: white;
        font-size: large;

        @media (min-width: 1300px) {
          font-size: 150%;
        }
      }

      p:nth-child(3) {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 1300px) {
          font-size: 80%;
        }
      }

      .tags,
      .tag-title {
        margin-right: 5px;
        color: #ffffff51;
        font-size: small;
        white-space: nowrap;

        @media (min-width: 1300px) {
          font-size: 100%;
        }
      }
    }
  }
}

code {
  // background: rgb(36, 36, 36) !important;
  border: 0px !important;
}

.highlight,
pre,
.highlight > * > code {
  // background: rgb(0, 0, 0) !important;
  border: 0px !important;
}

// media queries
@media (min-width: 800px) {
  body {
    // background: url("./imgs/body-bg.svg");
    background-size: 10%;
    background-repeat: repeat-y;
    background-position-x: right;
  }
}

@media (max-width: 800px) {
  .site-footer {
    // background: #fdbd5637 !important;
    // background: url("./imgs/body-bg.svg"), linear-gradient(#ffcb77, #ffcb77) !important;
    background-repeat: repeat !important;
    background-position-y: bottom !important;
    padding: 10%;
    background-size: cover !important;
  }
}

// custom-html

.post-list-heading {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;

  animation-timeline: view(block 70% 5%);

  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timing-function: linear;

  p {
    margin: 0px;
  }

  .section-title {
    padding: 0.5% 1%;
    background-color: #ffa618;
    color: black;
    border-radius: 2px;
    font-size: small;
    font-weight: 600;

    @media (min-width: 900px) {
      font-size: 60%;
    }

    @media (min-width: 1300px) {
      font-size: 80%;
    }
  }

  .title {
    font-size: 90%;
    font-weight: bold;

    @media (min-width: 600px) {
      font-size: 130%;
    }

    @media (min-width: 900px) {
      font-size: 150%;
    }

    @media (min-width: 1300px) {
      font-size: 230%;
    }
  }

  &.heading1 .description {
    width: 100%;
    font-size: 60%;
    @media (min-width: 600px) {
      font-size: large;
      width: 60%;
    }

    @media (min-width: 900px) {
      font-size: 80%;
    }

    @media (min-width: 1300px) {
      font-size: 100%;
      width: 80%;
    }
  }

  &.heading2 .description {
    font-size: large;
    width: 80%;

    @media (min-width: 900px) {
      width: 70%;
    }

    @media (min-width: 1300px) {
      font-size: 120%;
    }
  }
}

.page-content .wrapper {
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100% !important;
}

.page-content {
  padding: 0px;
}

:root {
  --number-of-cards: 3; //edit these as you add more projects to carousel
  --width-of-cards: 300px;
  --margin-right-width: 20px;
  --total-card-width: 320px; //calc(var(--width-of-cards)+var(--margin-right-width))
  --group-width: 1920px; //calc(2 * var(--number-of-cards) * var(--total-card-width))
  --group-move-distance: -960px; //calc(var(--number-of-cards) * var(--total-card-width))
}

// $number-of-cards: 3; //edit these as you add more projects to carousel
// $width-of-cards: 300px;
// $margin-right-width: 20px;
// $total-card-width: $width-of-cards + $margin-right-width;
// $group-width: 2 * ($number-of-cards + $total-card-width);
// $group-move-distance: $number-of-cards * $total-card-width;

.carousel {
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  overflow: hidden;
  // display: flex;
  // gap: 20px;

  .card {
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    background: #ffffff17;
    width: var(--width-of-cards);
    aspect-ratio: 1.5 / 1;
    border: 1px solid #ffffff36;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-right: var(--margin-right-width);

    img {
      width: 100%;
      height: 100%;
      z-index: -2;
      object-fit: contain;
    }

    .sub-title {
      font-size: 50%;
      margin-bottom: 0px;
      text-align: center;
    }

    .tech-stack {
      font-size: 30%;
      margin-bottom: 0px;
    }
  }

  > * {
    flex: 0 0 100%;
  }

  .group {
    display: flex;
    width: var(--group-width);
    // width: 1920px;
    // gap: 20px;
    will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 15s linear infinite;
  }

  &.carousel-2 .group {
    animation: scrolling-back 15s linear infinite;
  }
}

footer {
  width: 100%;
}

footer .footer-inner {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  background-color: rgba(10, 10, 10, 0.48);
  width: 100%;
  font-size: small;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 10%;

  @media (min-width: 768px) {
    flex-direction: unset;
    align-items: unset;
    gap: unset;
    padding: 5%;
  }

  @media (min-width: 900px) {
    font-size: 100%;
  }

  @media (min-width: 1300px) {
    font-size: 160%;
  }

  .contact-inner {
    p {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      gap: 10px;
    }

    p:nth-child(1) {
      font-size: large;
      font-weight: bold;
      margin-bottom: 20px;
      justify-content: center;

      @media (min-width: 768px) {
        justify-content: unset;
      }
    }

    p:nth-child(2) .logo {
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url("./imgs/mail.png");
      background-size: contain;
    }
    p:nth-child(3) .logo {
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url("./imgs/phone.png");
      background-size: contain;
    }

    p:nth-child(4) .logo {
      display: inline-block;
      height: 20px;
      width: 20px;
      background-image: url("./imgs/location.png");
      background-size: contain;
    }
  }

  .socials {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding: 5%;
    display: flex;
    gap: 10px;
    justify-content: center;
    @media (min-width: 768px) {
      justify-content: unset;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 50px;
      padding: 3%;
      height: 25px;
      width: 25px;
      transition: background-color 0.2s ease;

      @media (min-width: 900px) {
        height: 35px;
        width: unset;
        aspect-ratio: 1 / 1;
      }

      @media (min-width: 1300px) {
        height: 45px;
      }
    }

    a span {
      display: inline-block;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    a:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    a:nth-child(1) span {
      background-image: url("./imgs/linkedin.png");
    }

    a:nth-child(2) span {
      background-image: url("./imgs/github.png");
    }

    a:nth-child(3) span {
      background-image: url("./imgs/twitter.png");
    }
  }

  .list {
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: unset;
      gap: unset;
      align-items: unset;
    }

    .sections,
    .links {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      font-size: 120%;

      @media (min-width: 768px) {
        align-items: unset;
        font-size: unset;
      }

      a {
        width: max-content;
        text-decoration: none;
        cursor: pointer;
        color: white;
        position: relative;
      }

      a:hover {
        color: rgba(255, 255, 255, 0.8);
      }

      p {
        font-size: large;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}

.sub-footer {
  padding: 2%;
  color: rgba(255, 255, 255, 0.5);
  font-size: small;
  text-align: center;

  @media (min-width: 1300px) {
    font-size: 130%;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--group-move-distance));
  }
}
@keyframes scrolling-back {
  0% {
    transform: translateX(var(--group-move-distance));
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(-10px);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0px);
  }
}
@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

/**
 * To animate the gradient, we set the custom property to 1 full
 * rotation. The animation starts at the default value of `0deg`.
 */
@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

@keyframes growBackground {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05); /* Slight zoom effect */
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes arrow-movement1 {
  0% {
    opacity: 1;
    left: 35%;
  }
  100% {
    opacity: 0;
    left: 45%;
  }
}

@keyframes arrow-movement2 {
  0% {
    opacity: 1;
    left: 50%;
  }
  100% {
    opacity: 0;
    left: 60%;
  }
}

@keyframes arrow-movement3 {
  0% {
    opacity: 1;
    left: 65%;
  }
  100% {
    opacity: 0;
    left: 75%;
  }
}

@keyframes fill-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#search-input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background: #2c2c2c;
  color: rgb(227, 227, 227);
  border: none;
  outline: none;
}

#results-container {
  width: 50%;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #212121;
  list-style: none;
  padding: 0px;
  border-radius: 2px;
}

.search-list:hover {
  background-color: #383838;
  border-radius: 2px;
}

.search-list {
  padding: 10px;
}

.search-list a {
  display: inline-block;
  width: 100%;
}

.search-list a:hover {
  text-decoration: none;
}
