/**
 * Reset some basic elements
 */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fredericka+the+Great&family=Megrim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/monokai.min.css");
@import url("./css/syntax.css");
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top; }

.social-media-list li + li {
  padding-top: 5px; }

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8; }
  table tr:nth-child(even) {
    background-color: #f7f7f7; }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9; }
  table td {
    border: 1px solid #e8e8e8; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 54px; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          fill: #424242; }
      .site-nav input ~ .trigger {
        clear: both;
        display: none; }
      .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1; }

.page-heading {
  font-size: 32px; }

.post-list-heading {
  font-size: 28px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

@keyframes slideDown {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(100px); } }
@keyframes scrolling {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
@keyframes scrolling-back {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }
@keyframes slide-up {
  from {
    transform: translateY(10px); }
  to {
    transform: translateY(-10px); } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slide-in {
  from {
    transform: translateY(10px); }
  to {
    transform: translateY(0px); } }
@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>"; }
/**
 * To animate the gradient, we set the custom property to 1 full
 * rotation. The animation starts at the default value of `0deg`.
 */
@keyframes spin {
  to {
    --bg-angle: 360deg; } }
@keyframes growBackground {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.05);
    /* Slight zoom effect */ } }
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes arrow-movement1 {
  0% {
    opacity: 1;
    left: 35%; }
  100% {
    opacity: 0;
    left: 45%; } }
@keyframes arrow-movement2 {
  0% {
    opacity: 1;
    left: 50%; }
  100% {
    opacity: 0;
    left: 60%; } }
@keyframes arrow-movement3 {
  0% {
    opacity: 1;
    left: 65%; }
  100% {
    opacity: 0;
    left: 75%; } }
@keyframes fill-progress {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
* {
  box-sizing: border-box;
  transition: all 0.2s ease; }

html,
body {
  font-family: "Figtree", sans-serif;
  background-color: #101010;
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
  scroll-behavior: smooth;
  color: white;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

main {
  width: 100%; }

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  /* Rounded thumb */
  border: 2px solid transparent;
  /* Space around the thumb */ }

.site-header {
  position: fixed !important;
  top: -100px !important;
  left: 0;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  width: 100% !important;
  height: 15vh !important;
  animation: slideDown 1s ease;
  transform: translateY(100px);
  transition: background-color 0.5s ease; }
  .site-header .wrapper {
    max-width: 100% !important;
    width: 100%;
    height: 100%;
    margin: 0% 5%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .site-header .wrapper::after {
    content: none !important; }
  .site-header:hover {
    background-color: black !important; }
  .site-header .loader {
    height: 2px;
    background: orange;
    animation-name: fill-progress;
    animation-timeline: scroll(); }
  .site-header .site-title {
    color: #ffffff !important;
    font-stretch: expanded;
    font-size: xx-large;
    font-family: "Figtree"; }
    @media (min-width: 600px) {
      .site-header .site-title {
        font-size: x-large; } }
    @media (min-width: 900px) {
      .site-header .site-title {
        font-size: xx-large; } }
    @media (min-width: 1300px) {
      .site-header .site-title {
        font-size: 300%; } }
    .site-header .site-title span:nth-child(1) {
      font-weight: bold !important; }
    .site-header .site-title span:nth-child(2) {
      font-weight: bold !important;
      color: #ffa618; }
    .site-header .site-title:hover {
      text-decoration: none; }
  .site-header .site-nav {
    flex: 1;
    height: 100%;
    background-color: transparent;
    border: none; }
    @media (min-width: 600px) {
      .site-header .site-nav {
        background-color: unset;
        border: unset; } }
    .site-header .site-nav label[for="nav-trigger"] {
      background: #ffffff12;
      border: 1px solid #ffffff45;
      border-radius: 5px; }
      @media (min-width: 600px) {
        .site-header .site-nav label[for="nav-trigger"] {
          background: unset;
          border: unset;
          border-radius: unset; } }
      .site-header .site-nav label[for="nav-trigger"] .menu-icon svg {
        fill: #ffffff94; }
        @media (min-width: 600px) {
          .site-header .site-nav label[for="nav-trigger"] .menu-icon svg {
            fill: unset; } }
    .site-header .site-nav .trigger {
      background: #000000;
      height: max-content;
      padding: 20%;
      margin-top: 40%;
      width: 100vw;
      position: absolute;
      top: 63%;
      right: -45%; }
      @media (min-width: 600px) {
        .site-header .site-nav .trigger {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          gap: 3%;
          background: unset;
          padding: 0%;
          margin-top: 0%;
          width: auto;
          position: unset;
          top: unset;
          right: unset; } }
      @media (min-width: 1300px) {
        .site-header .site-nav .trigger {
          font-size: 150%; } }
    .site-header .site-nav .page-link {
      color: rgba(255, 255, 255, 0.7) !important;
      transition: color 0.2s ease;
      font-weight: 500;
      margin: 0px !important;
      width: max-content;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 2% !important; }
      @media (min-width: 600px) {
        .site-header .site-nav .page-link {
          margin-bottom: 0% !important;
          font-size: 80%; } }
      @media (min-width: 900px) {
        .site-header .site-nav .page-link {
          font-size: 100%; } }
      .site-header .site-nav .page-link:hover {
        text-decoration: none;
        color: white !important; }
      .site-header .site-nav .page-link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0px;
        height: 2px;
        background-color: #ffa618;
        transition: width 0.2s ease; }
      .site-header .site-nav .page-link:hover::after {
        width: 100%; }

.home .page-landing {
  background: linear-gradient(to bottom, transparent 90%, #101010 100%), url("./imgs/bg-pattern-2.svg") repeat, url("./imgs/header-bg.png");
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  font-family: "Figtree";
  animation: growBackground 3s ease;
  transform: scale(1.05);
  height: max-content; }
  .home .page-landing .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 35% 0% 0% 10%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2) 90%); }
    @media (min-width: 600px) {
      .home .page-landing .content {
        padding: 80px 0px 0px 80px;
        width: 60%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent 90%); } }
    @media (min-width: 768px) {
      .home .page-landing .content {
        padding: 20% 0% 0% 10%; } }
    @media (min-width: 900px) {
      .home .page-landing .content {
        padding: 15% 0% 0% 10%;
        width: 80%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4) 70%, transparent 90%); } }
    .home .page-landing .content p {
      margin: 0px;
      opacity: 0;
      transform: translateX(-50px);
      animation: slideIn 1s ease forwards;
      font-family: "Figtree"; }
      .home .page-landing .content p:nth-child(1) {
        font-size: xx-large;
        font-weight: bold;
        margin-bottom: 5px;
        animation-delay: 1s; }
        @media (min-width: 320px) {
          .home .page-landing .content p:nth-child(1) {
            width: 90%; } }
        @media (min-width: 375px) {
          .home .page-landing .content p:nth-child(1) {
            width: 80%; } }
        @media (min-width: 768px) {
          .home .page-landing .content p:nth-child(1) {
            width: 60%; } }
        @media (min-width: 900px) {
          .home .page-landing .content p:nth-child(1) {
            font-size: 300%;
            width: 100%;
            line-height: 130%; } }
        @media (min-width: 1300px) {
          .home .page-landing .content p:nth-child(1) {
            font-size: 400%; } }
      .home .page-landing .content p:nth-child(1) span {
        color: #ffa618; }
      .home .page-landing .content p:nth-child(2) {
        font-size: larger;
        font-weight: bold;
        animation-delay: 1.2s;
        width: 70%; }
        @media (min-width: 600px) {
          .home .page-landing .content p:nth-child(2) {
            width: unset; } }
        @media (min-width: 900px) {
          .home .page-landing .content p:nth-child(2) {
            font-size: 150%; } }
        @media (min-width: 1300px) {
          .home .page-landing .content p:nth-child(2) {
            font-size: 200%; } }
      .home .page-landing .content p:nth-child(3) {
        animation-delay: 1.2s;
        width: 75%; }
        @media (min-width: 600px) {
          .home .page-landing .content p:nth-child(3) {
            width: unset; } }
        @media (min-width: 900px) {
          .home .page-landing .content p:nth-child(3) {
            width: 70%;
            font-size: 140%; } }
  .home .page-landing .socials {
    animation: fade-in 0.5s ease forwards;
    opacity: 0;
    animation-delay: 2s;
    padding: 10% 0% 0% 0%;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 5%; }
    @media (min-width: 600px) {
      .home .page-landing .socials {
        padding: 7%; } }
    @media (min-width: 768px) {
      .home .page-landing .socials {
        padding: 7% 0%;
        justify-content: flex-start; } }
    @media (min-width: 1024px) {
      .home .page-landing .socials {
        padding: 3% 0%; } }
    .home .page-landing .socials a {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 50px;
      padding: 2%;
      height: 30px;
      width: unset;
      aspect-ratio: 1/1;
      transition: background-color 0.2s ease; }
      @media (min-width: 600px) {
        .home .page-landing .socials a {
          padding: 2.5%; } }
      @media (min-width: 900px) {
        .home .page-landing .socials a {
          height: 40px; } }
      @media (min-width: 1024px) {
        .home .page-landing .socials a {
          height: 45px;
          padding: 1.5%; } }
      @media (min-width: 1440px) {
        .home .page-landing .socials a {
          height: 60px; } }
      .home .page-landing .socials a span {
        display: inline-block;
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat; }
      .home .page-landing .socials a:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      .home .page-landing .socials a:nth-child(1) span {
        background-image: url("./imgs/linkedin.png"); }
      .home .page-landing .socials a:nth-child(2) span {
        background-image: url("./imgs/github.png"); }
      .home .page-landing .socials a:nth-child(3) span {
        background-image: url("./imgs/twitter.png"); }
      .home .page-landing .socials a:nth-child(4) span {
        background-image: url("./imgs/mail.png"); }
      .home .page-landing .socials a:nth-child(5) span {
        background-image: url("./imgs/whatsapp.png"); }
.home .posts-container {
  padding: 10%;
  background: linear-gradient(to bottom, #101010, transparent 10%, #101010 90%), url("./imgs/bg-pattern-2.svg");
  margin-bottom: 5%; }
  @media (min-width: 1300px) {
    .home .posts-container .post-list {
      margin-bottom: 8%; } }
  .home .posts-container .post-list li {
    border-radius: 10px !important;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 5%;
    border: 1px solid #ffffff4b;
    animation: slide-in 1s ease forwards, spin 10s linear paused, fade-in 1s linear forwards;
    animation-delay: 0.7s;
    cursor: pointer;
    background: linear-gradient(to bottom, #1e1e1e 0%, #141414 100%); }
    @media (min-width: 600px) {
      .home .posts-container .post-list li {
        flex-direction: unset; } }
    .home .posts-container .post-list li:hover {
      animation-play-state: running;
      border: 1px solid transparent;
      background: linear-gradient(to bottom, #212121 0%, #181818 100%) padding-box, conic-gradient(from var(--bg-angle), white 0deg, black 90deg, white 180deg, black 270deg, white 360deg) border-box; }
  .home .posts-container .post-list li:hover .arrow-first {
    animation: arrow-movement1 0.7s ease-in-out 2; }
  .home .posts-container .post-list li:hover .arrow-second {
    animation: arrow-movement2 0.7s 0.15s ease-in-out 2; }
  .home .posts-container .post-list li:hover .arrow-third {
    animation: arrow-movement3 0.7s 0.3s ease-in-out 2; }
  .home .posts-container .post-list .post-content {
    font-size: small;
    color: rgba(255, 255, 255, 0.829);
    margin-bottom: 0px; }
    @media (min-width: 600px) {
      .home .posts-container .post-list .post-content {
        margin-bottom: unset; } }
    @media (min-width: 900px) {
      .home .posts-container .post-list .post-content {
        font-size: 100%; } }
    @media (min-width: 1300px) {
      .home .posts-container .post-list .post-content {
        font-size: 170%; } }
    .home .posts-container .post-list .post-content .post-link {
      font-size: x-large;
      color: white !important;
      display: inline-block;
      position: relative;
      text-decoration: none; }
      @media (min-width: 900px) {
        .home .posts-container .post-list .post-content .post-link {
          font-size: 100%; } }
      .home .posts-container .post-list .post-content .post-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #ffa618;
        transition: width 0.3s ease; }
      .home .posts-container .post-list .post-content .post-link:hover::after {
        width: 100%; }
    .home .posts-container .post-list .post-content .post-description {
      font-size: x-small;
      display: flex;
      flex-wrap: wrap;
      gap: 5px; }
      @media (min-width: 600px) {
        .home .posts-container .post-list .post-content .post-description {
          display: block;
          flex-wrap: unset;
          gap: unset; } }
      @media (min-width: 900px) {
        .home .posts-container .post-list .post-content .post-description {
          font-size: 100%; } }
      .home .posts-container .post-list .post-content .post-description .post-meta {
        color: #bebebe;
        flex-basis: 100%;
        flex-shrink: 0;
        margin-bottom: 10px; }
        @media (min-width: 600px) {
          .home .posts-container .post-list .post-content .post-description .post-meta {
            flex-basis: unset;
            flex-shrink: unset;
            margin-bottom: unset; } }
        @media (min-width: 900px) {
          .home .posts-container .post-list .post-content .post-description .post-meta {
            font-size: 100%;
            color: #ffffff5c; } }
      .home .posts-container .post-list .post-content .post-description .post-dot {
        display: none; }
        @media (min-width: 600px) {
          .home .posts-container .post-list .post-content .post-description .post-dot {
            display: inline-block;
            background-image: url("./imgs/dot.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 10px;
            height: 10px; } }
        @media (min-width: 1300px) {
          .home .posts-container .post-list .post-content .post-description .post-dot {
            height: 18px;
            width: unset;
            aspect-ratio: 1 / 1;
            margin-right: 8px; } }
      .home .posts-container .post-list .post-content .post-description .post-tag {
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid #ffffff88;
        padding: 3px 8px;
        text-align: center;
        color: #ffffff88; }
        @media (min-width: 600px) {
          .home .posts-container .post-list .post-content .post-description .post-tag {
            margin-right: 5px;
            margin-bottom: 5px;
            display: inline-block; } }
        @media (min-width: 900px) {
          .home .posts-container .post-list .post-content .post-description .post-tag {
            font-size: 80%; } }
        @media (min-width: 1300px) {
          .home .posts-container .post-list .post-content .post-description .post-tag {
            font-size: 70%; } }
  .home .posts-container .post-list .post-read-more {
    display: flex;
    justify-content: flex-end;
    font-size: small;
    white-space: nowrap;
    color: #ffb031;
    font-weight: 400; }
    .home .posts-container .post-list .post-read-more .arrow-container {
      height: 10px;
      width: 50px;
      position: relative; }
      .home .posts-container .post-list .post-read-more .arrow-container .arrow {
        position: absolute;
        top: 50%;
        transform: rotate(-90deg); }
      .home .posts-container .post-list .post-read-more .arrow-container .arrow:before,
      .home .posts-container .post-list .post-read-more .arrow-container .arrow:after {
        background: #ffffff70;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        width: 5px; }
        @media (min-width: 900px) {
          .home .posts-container .post-list .post-read-more .arrow-container .arrow:before,
          .home .posts-container .post-list .post-read-more .arrow-container .arrow:after {
            background: #ffffff9c;
            height: 2px;
            width: 8px; } }
      .home .posts-container .post-list .post-read-more .arrow-container .arrow:before {
        transform: rotate(45deg) translateX(-23%);
        transform-origin: top left; }
      .home .posts-container .post-list .post-read-more .arrow-container .arrow:after {
        transform: rotate(-45deg) translateX(23%);
        transform-origin: top right; }
      .home .posts-container .post-list .post-read-more .arrow-container .arrow-first {
        left: 35%; }
      .home .posts-container .post-list .post-read-more .arrow-container .arrow-second {
        left: 50%; }
      .home .posts-container .post-list .post-read-more .arrow-container .arrow-third {
        left: 65%; }
  .home .posts-container .post-view-more {
    display: flex;
    justify-content: center;
    animation-timeline: view(block 70% 2%);
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-duration: 1ms;
    /* Firefox requires this to apply the animation */
    animation-timing-function: linear; }
    .home .posts-container .post-view-more a {
      color: white !important;
      border-radius: 50px;
      background-color: #ffffff0b;
      border-style: none;
      border: 1px solid rgba(255, 255, 255, 0.27);
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.5s ease;
      text-decoration: none;
      display: flex;
      gap: 10px;
      align-items: center;
      backdrop-filter: blur(5px);
      padding: 5% 8%; }
      @media (min-width: 600px) {
        .home .posts-container .post-view-more a {
          padding: 2% 5%;
          font-size: large; } }
      @media (min-width: 1300px) {
        .home .posts-container .post-view-more a {
          font-size: 150%; } }
    .home .posts-container .post-view-more a:hover {
      background-color: #ffffff1f; }
      .home .posts-container .post-view-more a:hover .arrow {
        transform: translateX(20px); }
    .home .posts-container .post-view-more .arrow {
      height: 20px;
      width: 20px;
      background-image: url("./imgs/arrow-2.png");
      background-size: contain;
      display: inline-block;
      transition: transform 1s ease; }
    .home .posts-container .post-view-more .arrow::before {
      content: "";
      height: 20px;
      width: 20px;
      transform: translateX(-20px);
      background-image: url("./imgs/arrow-2.png");
      background-size: contain;
      display: inline-block;
      transition: transform 1s ease; }
    .home .posts-container .post-view-more .arrow-container {
      height: 20px;
      width: 20px;
      display: inline-block;
      overflow: hidden; }
.home .projects-container {
  background: linear-gradient(to bottom, #101010, transparent 20%, #101010 90%), url("./imgs/bg-pattern-2.svg"); }
  @media (min-width: 375px) {
    .home .projects-container .title {
      width: 90%; } }
  .home .projects-container .projects-view-more {
    margin: 5% 0%;
    display: flex;
    justify-content: center;
    animation-timeline: view(block 70% 2%);
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-duration: 1ms;
    /* Firefox requires this to apply the animation */
    animation-timing-function: linear; }
    .home .projects-container .projects-view-more a {
      color: white !important;
      border-radius: 50px;
      background-color: #ffffff0b;
      border-style: none;
      border: 1px solid rgba(255, 255, 255, 0.27);
      padding: 5% 8%;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.5s ease;
      text-decoration: none;
      display: flex;
      gap: 10px;
      align-items: center;
      backdrop-filter: blur(5px); }
      @media (min-width: 600px) {
        .home .projects-container .projects-view-more a {
          padding: 2% 5%; } }
      @media (min-width: 1300px) {
        .home .projects-container .projects-view-more a {
          font-size: 150%; } }
    .home .projects-container .projects-view-more a:hover {
      background-color: #ffffff1f; }
      .home .projects-container .projects-view-more a:hover .arrow {
        transform: translateX(20px); }
    .home .projects-container .projects-view-more .arrow {
      height: 20px;
      width: 20px;
      background-image: url("./imgs/arrow-2.png");
      background-size: contain;
      display: inline-block;
      transition: transform 1s ease; }
    .home .projects-container .projects-view-more .arrow::before {
      content: "";
      height: 20px;
      width: 20px;
      transform: translateX(-20px);
      background-image: url("./imgs/arrow-2.png");
      background-size: contain;
      display: inline-block;
      transition: transform 1s ease; }
    .home .projects-container .projects-view-more .arrow-container {
      height: 20px;
      width: 20px;
      display: inline-block;
      overflow: hidden; }
.home .bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  position: relative;
  margin-top: 5%;
  background: linear-gradient(to bottom, #101010, transparent 10%, #101010 90%), url("./imgs/bg-pattern-2.svg"); }
  .home .bottom-container .background-container {
    border-radius: 300px;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 75%; }
  .home .bottom-container .background-container1 {
    filter: blur(60px); }
  .home .bottom-container .background-container1 .background-inner {
    background: conic-gradient(from 0deg at 50% 50%, red 0deg, #ff001a 54.8916197268deg, #00a6ff 106.699244234deg, #4797ff 162deg, #04f 252deg, #ff8000 306deg, red 360deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    opacity: 0.8;
    width: 100%;
    height: 100%; }
  .home .bottom-container .background-container2 {
    filter: blur(30px); }
  .home .bottom-container .background-container2:nth-child(3) {
    filter: blur(30px);
    mix-blend-mode: overlay; }
  .home .bottom-container .background-container2 .background-inner {
    background: conic-gradient(from 0deg at 50% 50%, #ffd9ad 0deg, #139ce5 180deg, #fd864d 360deg);
    border-radius: 50%;
    opacity: 1;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%; }
  .home .bottom-container .profile-container {
    padding: 5%;
    border: 1px solid rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.203);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 8%; }
    @media (min-width: 900px) {
      .home .bottom-container .profile-container {
        width: 80%; } }
    .home .bottom-container .profile-container p:first-child {
      font-weight: bold;
      font-size: small;
      border: 1px solid #ffffff66;
      padding: 2% 5%;
      border-radius: 3px; }
      @media (min-width: 1300px) {
        .home .bottom-container .profile-container p:first-child {
          font-size: 150%;
          margin-bottom: 8%; } }
    .home .bottom-container .profile-container p:nth-child(2) {
      font-weight: bold;
      font-size: 250%;
      text-align: center;
      line-height: 45px; }
      @media (min-width: 600px) {
        .home .bottom-container .profile-container p:nth-child(2) {
          text-align: unset;
          line-height: unset; } }
      @media (min-width: 1300px) {
        .home .bottom-container .profile-container p:nth-child(2) {
          font-size: 450%; } }
    .home .bottom-container .profile-container p:nth-child(3) {
      color: rgba(255, 255, 255, 0.8);
      text-align: center; }
      @media (min-width: 900px) {
        .home .bottom-container .profile-container p:nth-child(3) {
          width: 80%;
          font-size: 120%; } }
      @media (min-width: 1300px) {
        .home .bottom-container .profile-container p:nth-child(3) {
          font-size: 200%; } }
    .home .bottom-container .profile-container a {
      text-decoration: none;
      padding: 3% 7%;
      background-color: rgba(255, 255, 255, 0.933);
      transition: background-color 0.5s ease, color 0.5s ease;
      border: 1px solid rgba(255, 255, 255, 0.691);
      border-radius: 10px;
      color: rgba(0, 0, 0, 0.9);
      font-size: small;
      text-align: center;
      gap: 5px; }
      .home .bottom-container .profile-container a:hover {
        background-color: rgba(255, 255, 255, 0.139);
        color: white; }
      @media (min-width: 900px) {
        .home .bottom-container .profile-container a {
          font-size: 100%;
          padding: 2% 5%;
          font-weight: bold; } }
      @media (min-width: 1300px) {
        .home .bottom-container .profile-container a {
          font-size: 150%;
          margin-top: 8%; } }

.post {
  padding: 30% 8%;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 600px) {
    .post {
      padding: 8% 10%; } }
  @media (min-width: 1300px) {
    .post {
      padding: 10% 10%; } }
  .post .post-header {
    width: 100%;
    padding: 8% 0%;
    margin: 0px; }
    .post .post-header .parent-link {
      font-size: small;
      color: gray;
      text-align: center;
      margin-bottom: 40px;
      font-family: monospace; }
      .post .post-header .parent-link a {
        color: gray;
        text-decoration: underline;
        transition: color 0.2s ease; }
      .post .post-header .parent-link a:hover {
        color: rgba(255, 255, 255, 0.8); }
    .post .post-header .post-title {
      text-align: center;
      margin-bottom: 2%; }
    .post .post-header .post-meta {
      font-size: 14px;
      text-align: center;
      color: orange;
      margin-bottom: 5%; }
    .post .post-header .tag-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      .post .post-header .tag-container .tag-badge {
        padding: 2px 5px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        font-size: small;
        border-radius: 2px;
        background: #ffffff0d; }
  .post .post-header:has(.post-title:empty) {
    display: none; }
  .post .post-content {
    width: 100%;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Satoshi"; }
    .post .post-content h1,
    .post .post-content h2,
    .post .post-content h3,
    .post .post-content h4,
    .post .post-content h5,
    .post .post-content h6 {
      color: #009595; }
    .post .post-content table {
      color: rgba(255, 255, 255, 0.4) !important; }
      .post .post-content table th {
        background-color: #f0f0f00a !important;
        border: 1px solid #e8e8e832 !important;
        border-bottom-color: #c9c9c98c !important;
        color: #ffffff82; }
      .post .post-content table td {
        border: 1px solid #e8e8e832; }
    .post .post-content a {
      color: #1ab2ff;
      word-wrap: break-word; }
      .post .post-content a:visited {
        color: #cd8dff; }
      .post .post-content a:hover {
        text-decoration: underline; }
    .post .post-content blockquote {
      color: #ffffffba;
      border-left: 1px solid #e8e8e8bb;
      font-size: small;
      letter-spacing: -1px;
      background: #ffffff0f;
      border-radius: 0px 5px 5px 0px;
      width: max-content;
      padding: 2%;
      font-style: normal;
      font-family: "Figtree"; }

.all-posts .heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: hidden;
  height: 75vh; }
  .all-posts .heading p {
    animation: slide-in 1s ease forwards, fade-in 1s ease forwards;
    margin: 0px;
    z-index: 1;
    opacity: 0; }
  .all-posts .heading p:nth-child(1) {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    animation-delay: 1s; }
    .all-posts .heading p:nth-child(1) span {
      padding: 0.5% 1%;
      background-color: #ffa618;
      color: black;
      border-radius: 2px;
      font-size: small;
      font-weight: 600;
      text-transform: uppercase; }
      @media (min-width: 1300px) {
        .all-posts .heading p:nth-child(1) span {
          font-size: 150%; } }
  .all-posts .heading p:nth-child(2) {
    font-size: xx-large;
    font-weight: bold;
    animation-delay: 1.1s;
    line-height: 40px; }
    @media (min-width: 600px) {
      .all-posts .heading p:nth-child(2) {
        line-height: unset; } }
    @media (min-width: 1300px) {
      .all-posts .heading p:nth-child(2) {
        font-size: 400%; } }
  .all-posts .heading p:nth-child(3) {
    font-size: large;
    animation-delay: 1.2s; }
    @media (min-width: 1300px) {
      .all-posts .heading p:nth-child(3) {
        font-size: 200%; } }
  .all-posts .heading .background-container {
    position: absolute;
    top: unset;
    left: 50%;
    bottom: 0;
    height: 250px;
    width: 250px;
    border-radius: 0px;
    right: 0%;
    transform: translate(-50%, 30%);
    opacity: 0;
    animation: fade-in 1s ease forwards;
    animation-delay: 1s;
    width: 50%; }
    @media (min-width: 1300px) {
      .all-posts .heading .background-container {
        height: 70%; } }
  .all-posts .heading .background1 {
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 0px;
    position: absolute;
    width: 100%;
    filter: blur(40px); }
    @media (min-width: 1300px) {
      .all-posts .heading .background1 {
        filter: blur(100px); } }
  .all-posts .heading .background1 .background-inner {
    height: 100%;
    width: 100%;
    border-radius: 500px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: conic-gradient(from 0deg at 50% 50%, #ff0000 0deg, #ff001a 54.8916197268deg, #00a6ff 106.699244234deg, #4797ff 162deg, #04f 252deg, #ff8000 306deg, red 360deg); }
  .all-posts .heading .background2 {
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px;
    position: absolute;
    width: 70%;
    filter: blur(22px); }
    @media (min-width: 1300px) {
      .all-posts .heading .background2 {
        filter: blur(50px); } }
  .all-posts .heading .background2:nth-child(2) {
    mix-blend-mode: overlay; }
  .all-posts .heading .background2 .background-inner {
    height: 100%;
    width: 100%;
    border-radius: 500px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: conic-gradient(from 0deg at 50% 50%, #ffd9ad 0deg, #139ce5 180deg, #fd864d 360deg); }
.all-posts .post-list {
  box-shadow: 0px -10px 30px 40px #1d1d1d;
  position: relative; }
.all-posts .total-posts {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  animation-timeline: view(block 70% 0%);
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-timing-function: linear; }
  .all-posts .total-posts span {
    padding: 8px 10px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    font-size: small;
    font-family: Satoshi;
    font-weight: 400;
    color: #ffffff; }
    @media (min-width: 1300px) {
      .all-posts .total-posts span {
        font-size: 170%; } }
.all-posts .list {
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px; }
  @media (min-width: 1300px) {
    .all-posts .list {
      font-size: 160%; } }
  .all-posts .list a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5) !important;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    overflow: hidden;
    flex-direction: column-reverse;
    padding: 20px;
    gap: 10px; }
    @media (min-width: 768px) {
      .all-posts .list a {
        flex-direction: row;
        padding: 20px 0px; } }
    .all-posts .list a:hover {
      text-decoration: none; }
      .all-posts .list a:hover .content {
        transform: translateX(0px); }
    .all-posts .list a:last-child {
      border: none; }
  .all-posts .list .content {
    display: flex;
    align-items: center;
    gap: 10px; }
    @media (min-width: 768px) {
      .all-posts .list .content {
        transform: translateX(-30px);
        transition: transform 0.5s ease; } }
    .all-posts .list .content .arrow {
      display: none; }
      @media (min-width: 768px) {
        .all-posts .list .content .arrow {
          display: inline-block;
          height: 20px;
          width: 20px;
          background-image: url("./imgs/arrow-long.png");
          background-repeat: no-repeat;
          background-size: contain; } }
  .all-posts .list .content-inner {
    display: flex;
    flex-direction: column;
    gap: 2px; }
    .all-posts .list .content-inner p {
      margin: 0px; }
    .all-posts .list .content-inner .title {
      color: white;
      font-size: large; }
      @media (min-width: 1300px) {
        .all-posts .list .content-inner .title {
          font-size: 150%; } }
    .all-posts .list .content-inner p:nth-child(3) {
      display: flex;
      flex-wrap: wrap; }
      @media (min-width: 1300px) {
        .all-posts .list .content-inner p:nth-child(3) {
          font-size: 80%; } }
    .all-posts .list .content-inner .tags,
    .all-posts .list .content-inner .tag-title {
      margin-right: 5px;
      color: #ffffff51;
      font-size: small;
      white-space: nowrap; }
      @media (min-width: 1300px) {
        .all-posts .list .content-inner .tags,
        .all-posts .list .content-inner .tag-title {
          font-size: 100%; } }

code {
  border: 0px !important; }

.highlight,
pre,
.highlight > * > code {
  border: 0px !important; }

@media (min-width: 800px) {
  body {
    background-size: 10%;
    background-repeat: repeat-y;
    background-position-x: right; } }
@media (max-width: 800px) {
  .site-footer {
    background-repeat: repeat !important;
    background-position-y: bottom !important;
    padding: 10%;
    background-size: cover !important; } }
.post-list-heading {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  animation-timeline: view(block 70% 5%);
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-timing-function: linear; }
  .post-list-heading p {
    margin: 0px; }
  .post-list-heading .section-title {
    padding: 0.5% 1%;
    background-color: #ffa618;
    color: black;
    border-radius: 2px;
    font-size: small;
    font-weight: 600; }
    @media (min-width: 900px) {
      .post-list-heading .section-title {
        font-size: 60%; } }
    @media (min-width: 1300px) {
      .post-list-heading .section-title {
        font-size: 80%; } }
  .post-list-heading .title {
    font-size: 90%;
    font-weight: bold; }
    @media (min-width: 600px) {
      .post-list-heading .title {
        font-size: 130%; } }
    @media (min-width: 900px) {
      .post-list-heading .title {
        font-size: 150%; } }
    @media (min-width: 1300px) {
      .post-list-heading .title {
        font-size: 230%; } }
  .post-list-heading.heading1 .description {
    width: 100%;
    font-size: 60%; }
    @media (min-width: 600px) {
      .post-list-heading.heading1 .description {
        font-size: large;
        width: 60%; } }
    @media (min-width: 900px) {
      .post-list-heading.heading1 .description {
        font-size: 80%; } }
    @media (min-width: 1300px) {
      .post-list-heading.heading1 .description {
        font-size: 100%;
        width: 80%; } }
  .post-list-heading.heading2 .description {
    font-size: large;
    width: 80%; }
    @media (min-width: 900px) {
      .post-list-heading.heading2 .description {
        width: 70%; } }
    @media (min-width: 1300px) {
      .post-list-heading.heading2 .description {
        font-size: 120%; } }

.page-content .wrapper {
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100% !important; }

.page-content {
  padding: 0px; }

.carousel {
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  overflow: hidden;
  display: flex; }
  .carousel .card {
    width: 200px;
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px 0;
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 200px; }
    @media (min-width: 768px) {
      .carousel .card {
        width: 100%;
        aspect-ratio: 1 / 1; } }
    .carousel .card:nth-child(1) {
      background: #7958ff; }
    .carousel .card:nth-child(2) {
      background: #5d34f2; }
    .carousel .card:nth-child(3) {
      background: #4300da; }
  .carousel > * {
    flex: 0 0 100%; }
  .carousel:hover .group {
    animation-play-state: paused; }
  .carousel .group {
    display: flex;
    gap: 20px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 20px;
    will-change: transform;
    /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 15s linear infinite; }
  .carousel.carousel-2 .group {
    animation: scrolling-back 15s linear infinite; }

footer {
  width: 100%; }

footer .footer-inner {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  background-color: rgba(10, 10, 10, 0.48);
  width: 100%;
  font-size: small;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 10%; }
  @media (min-width: 768px) {
    footer .footer-inner {
      flex-direction: unset;
      align-items: unset;
      gap: unset;
      padding: 5%; } }
  @media (min-width: 900px) {
    footer .footer-inner {
      font-size: 100%; } }
  @media (min-width: 1300px) {
    footer .footer-inner {
      font-size: 160%; } }
  footer .footer-inner .contact-inner p {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    gap: 10px; }
  footer .footer-inner .contact-inner p:nth-child(1) {
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: center; }
    @media (min-width: 768px) {
      footer .footer-inner .contact-inner p:nth-child(1) {
        justify-content: unset; } }
  footer .footer-inner .contact-inner p:nth-child(2) .logo {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("./imgs/mail.png");
    background-size: contain; }
  footer .footer-inner .contact-inner p:nth-child(3) .logo {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("./imgs/phone.png");
    background-size: contain; }
  footer .footer-inner .contact-inner p:nth-child(4) .logo {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("./imgs/location.png");
    background-size: contain; }
  footer .footer-inner .socials {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding: 5%;
    display: flex;
    gap: 10px;
    justify-content: center; }
    @media (min-width: 768px) {
      footer .footer-inner .socials {
        justify-content: unset; } }
    footer .footer-inner .socials a {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 50px;
      padding: 3%;
      height: 25px;
      width: 25px;
      transition: background-color 0.2s ease; }
      @media (min-width: 900px) {
        footer .footer-inner .socials a {
          height: 35px;
          width: unset;
          aspect-ratio: 1 / 1; } }
      @media (min-width: 1300px) {
        footer .footer-inner .socials a {
          height: 45px; } }
    footer .footer-inner .socials a span {
      display: inline-block;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat; }
    footer .footer-inner .socials a:hover {
      background-color: rgba(255, 255, 255, 0.2); }
    footer .footer-inner .socials a:nth-child(1) span {
      background-image: url("./imgs/linkedin.png"); }
    footer .footer-inner .socials a:nth-child(2) span {
      background-image: url("./imgs/github.png"); }
    footer .footer-inner .socials a:nth-child(3) span {
      background-image: url("./imgs/twitter.png"); }
  footer .footer-inner .list {
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    align-items: center; }
    @media (min-width: 768px) {
      footer .footer-inner .list {
        flex-direction: unset;
        gap: unset;
        align-items: unset; } }
    footer .footer-inner .list .sections,
    footer .footer-inner .list .links {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      font-size: 120%; }
      @media (min-width: 768px) {
        footer .footer-inner .list .sections,
        footer .footer-inner .list .links {
          align-items: unset;
          font-size: unset; } }
      footer .footer-inner .list .sections a,
      footer .footer-inner .list .links a {
        width: max-content;
        text-decoration: none;
        cursor: pointer;
        color: white;
        position: relative; }
      footer .footer-inner .list .sections a:hover,
      footer .footer-inner .list .links a:hover {
        color: rgba(255, 255, 255, 0.8); }
      footer .footer-inner .list .sections p,
      footer .footer-inner .list .links p {
        font-size: large;
        font-weight: bold;
        margin-bottom: 10px; }

.sub-footer {
  padding: 2%;
  color: rgba(255, 255, 255, 0.5);
  font-size: small;
  text-align: center; }
  @media (min-width: 1300px) {
    .sub-footer {
      font-size: 130%; } }
