---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    {% if page.parent_post %} {% assign parent_post = site.posts | where:
    "permalink", page.parent_post | first %}
    <div class="parent-link">
      This post is part of
      <a href="{{ site.baseurl }}{{ parent_post.url }}"
        >{{ parent_post.title }}</a
      >.
    </div>
    {% endif %}

    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>

    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {% assign views = site.data.views[page.permalink] %} {%- assign
        date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span>{{ page.date | date: date_format }}</span>
        <span>•</span>
        <span>{{ views | default: 0 }} views</span>
        <br/>
        <img
          src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fanusree6154s.github.io%2Fdocumentation{{ page.url }}"
          alt="hit count image"
        />
      </time>

      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
      </span>
      {%- endif -%}
    </p>

    {%- if page.tags.size>0 -%}
    <p class="tag-container">
      {%- for tag in page.tags -%}
      <span class="tag-badge"> {{ tag | escape }} </span>
      {%- endfor -%}
    </p>
    {%- endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  {% assign related_posts = site.posts | where: "parent_post", page.permalink %}
  <div class="related-posts">
    {% if related_posts.size > 0 %}
    <h2>Related Posts:</h2>
    <ul>
      {% for related in related_posts %}
      <li>
        <a href="{{ site.baseurl }}{{ related.url }}">{{ related.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="disqus-comments" width='500'>
    {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
    endif -%}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>


